.coffee-card {
    flex: 1 0 21%;
    margin: 5px;
    position: relative;
}

.coffee-card:hover .coffee-img {
    opacity: 0.8;
}

.coffee-img {
    width: 100%;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    flex: 1;
}

.delete {
    position: absolute;
    right: 1.5vw;
    top: 1.5vw;
    color: white;
    cursor: pointer;
}