@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.header {
    background-color: grey;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        text-decoration: none;

        .logo-text {
            flex: 1;
            font-family: 'Indie Flower', cursive;
            font-size: 28px;
            margin-left: 15px;
            color: white;
            margin: 0 10px;
        }

        .logo-img {
            vertical-align: sub;
        }
    }

    .coffee-count {
        color: white;
    }
}