@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
$break-mobile: 450px;

.header {
    background-color: grey;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        text-decoration: none;

        .logo-text {
            flex: 1;
            font-family: 'Indie Flower', cursive;
            font-size: 28px;
            margin-left: 15px;
            color: white;
            margin: 0 10px;

            @media screen and (max-width: $break-mobile) {
                font-size: 22px;
            }
        }

        .logo-img {
            vertical-align: sub;

            @media screen and (max-width: $break-mobile) {
                vertical-align: bottom;
            }
        }
    }

    .coffee-count {
        color: white;

        @media screen and (max-width: $break-mobile) {
            font-size: 15px;
        }
    }
}